@model WeatherViewModel
@{
    ViewData["Title"] = "Weather";
}
<h1>@ViewData["Title"]</h1>

<p>The current weather will be shown here.</p>

<p>The weather in @Model.City.Name on @Model.Weather.Date.ToString("D") will be @Model.Weather.WeatherType.Name, @Model.Weather.Temperature °C.</p>